@import url("./fonts.scss");

$base-color-green: #66c05d;
$base-color-dark-grey: #333333;
$base-color-light-grey: #efefef;

.p-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $base-color-dark-grey;
  letter-spacing: -0.001em;
}
.p-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.h3-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  letter-spacing: 0.007em;
}
.h1-title-white {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  letter-spacing: 0.005em;
}

.h4-title-white {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 0.007em;
}
.h5-title-white {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.p-price {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.p-text-description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

.logo-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.11em;
  color: #66c05d;
}

button {
  width: 170px;
  height: 40px;
  border-radius: 40px;
  padding: 12px 26px 13px 27px;
}
.button-call {
  background: #ffffff;
  border: 2px solid #66c05d;
  padding: 10px 23px 13px 22px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.011em;
}
.button-more {
  background: #66c05d;
  border: 2px solid #ffffff;
  color: $base-color-light-grey;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 26px 13px 27px;
  letter-spacing: 0.011em;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  border-bottom: 1px solid $base-color-light-grey;
  padding-bottom: 12px;
  .top-line-menu {
    background-color: #e5e5e5;
    margin: 0 auto;
    width: 1920px;
    .title-menu {
      width: 476px;
      height: 50px;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      * {
        margin: 17px 15px 16px 15px;
      }
    }
  }

  .main-line-menu {
    width: 1920px;
    margin: 0 auto;
    .container {
      display: flex;
      justify-content: space-between;
      width: 1200px;
      margin: 0 auto;
      padding: 17px 45px 0 45px;
      box-sizing: border-box;
      .logo-div {
        display: flex;
        width: 290px;

        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          margin-top: 4px;
        }

        h1 {
          margin-left: 20px;
        }
      }
      .contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 337px;
        margin-top: -5px;
      }
    }
  }
}
.second-line__main-menu {
  margin-top: 13px;
  margin-bottom: 15px;
  width: 1920px;
  margin: 0 auto;
  .line-menu {
    width: 675px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.main-info {
  width: 1920px;
  margin: 0 auto;
  position: relative;
  height: 604px;
  #main-foto {
    width: 1920px;
    height: 604px;
    z-index: 0;
    position: relative;
    object-fit: cover;
  }
  .main-info-title {
    width: 400px;
    height: 219px;
    z-index: 100;
    position: absolute;
    top: 192px;
    left: 405px;
    h1 {
      margin: 0;
    }
    p {
      margin: 38px 0;
      width: 310px;
    }
    button {
      letter-spacing: 0.05em;
      margin-top: 7px;
    }
  }
}

.section-offer {
  background-color: $base-color-light-grey;
  width: 1920px;
  margin: 0 auto;
  .container {
    padding-top: 80px;
    .offer-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      margin-left: -5px;
      h3 {
        margin: 0;
      }
    }
    .products-div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-left: -20px;
      .product-cart {
        background-color: #ffffff;
        box-sizing: border-box;
        width: 255px;
        height: 363px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 30px 25px 30px;
        margin: 0 15px 50px 15px;
        img {
          height: 166px;
          width: 125px;
          object-fit: cover;
        }
        p {
          width: 190px;
          height: 33px;
          text-align: center;
          line-height: 20px;
          margin-top: 18px;
          margin-bottom: 6px;
        }
        button {
          background: #66c05d;
          width: 130px;
          height: 35px;
          border-radius: 30px;
          border: 0;
          font-family: "Roboto";
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.05em;
          color: #ffffff;
          padding: 9px 40px 9px 39px;
        }
      }
    }
    .connection-with-the-company {
      margin: 48px -5px 0 -5px;
      height: 347px;

      display: flex;
      justify-content: space-between;
      .mail-div,
      .adress-company {
        width: 540px;
        height: 212px;
        background-color: $base-color-green;
        padding: 37px 45px 36px 40px;
        box-sizing: border-box;
        h4 {
          margin: 0;
        }
        h5 {
          margin-top: 20px;
        }
      }
      .mail-div {
        position: relative;
        h5 {
          width: 231px;
        }
        .mail-div-input {
          margin-top: 2px;
          width: 224px;
          height: 35px;
          background: #ffffff;
          border-radius: 30px;
          border: 0;
          padding: 9px 104px 9px 25px;
          box-sizing: border-box;
          letter-spacing: 0.02em;
        }
        #mail-img {
          position: absolute;
          right: 45px;
          top: 37px;
        }
      }
      .adress-company {
        h5 {
          width: 141px;
        }
        button {
          margin-top: 1px;
          height: 35px;
          width: 170px;
          padding-top: 8px;
        }
      }
    }
  }
  @media screen and (max-width: 320px) {
  }
}
footer {
  height: 150px;
  width: 1920px;
  margin: 0 auto;
  .footer-main-line {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 40px;
    .container {
      height: 45px;
      width: 1110px;
      margin: 0 auto;
      display: flex;
      box-sizing: border-box;
      position: relative;
      .icons {
        margin-top: 3px;
        img {
          width: 45px;
          height: 45px;
          margin-right: 16px;
        }
        #fb-icon {
          margin-right: 12px;
        }
      }
      .adress {
        margin-top: 3px;
        margin-left: 189px;
      }
      .phone {
        margin-left: 106px;
        margin-top: -1px;
      }
      .button-call {
        position: absolute;
        right: 0;
        top: 5px;
      }
    }
  }
  .footer-sum-info {
    height: 64px;
    background-color: $base-color-light-grey;
    padding-top: 13px;
    box-sizing: border-box;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 1110px;
    }
  }
}
