@font-face {
  font-family: "Roboto";
  src: url("/dist/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display";
  src: url("/dist/assets/fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "Prata";
  src: url("/dist/assets/fonts/Prata-Regular.ttf");
}
