@media screen and (max-width: 320px) {
  header {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
      margin-top: 24px;

      .logo {
        display: flex;
        width: 101px;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;
      }
      .header-menu {
        width: 300px;
        margin-left: 10px;
        * {
          margin-right: 10px;
        }
      }
      .header-icons {
        width: 90px;
        margin-top: 6px;
        position: relative;
        top: -70px;
        left: 215px;
        img {
          height: 12px;
        }
      }
    }
  }
  .banner {
    .container {
      .banner-info {
        top: 0;
        left: 10px;
        .base-button {
          margin-top: 0;
        }
      }
      .banner-offer {
        display: none;
      }
    }
  }

  .popular-models {
    margin-bottom: 0;
    .container {
      .models-title {
        .see-all {
          top: 1280px;
          left: 70px;
          &::after {
            top: 40px;
            bottom: 0;
            left: 15px;
          }
        }
      }
      .models {
        flex-direction: column;
        align-items: center;
        width: 280px;

        .watch-model {
          width: 300px;
          height: 400px;
          padding: 20px 29px 10px 30px;

          .div-img {
            width: 200px;
            height: 200px;
            left: 0px;
            img {
              width: 200px;
            }
            &::before {
              right: 10px;
            }
          }
        }
      }
    }
  }
  .news {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 0;
    .container {
      flex-direction: column;
      align-items: center;
      padding: 0;
      .text {
        margin-top: 20px;
        width: 300px;
        .p-big-roboto {
          width: 300px;
        }
        .icons {
          position: relative;
          top: -90px;
        }
      }
      .images {
        width: 300px;
        display: flex;
        flex-direction: column;
        img {
          width: 280px;
        }
      }
    }
  }
  footer {
    .container {
      width: 320px;
      padding: 0;
      flex-wrap: wrap;
      justify-content: flex-start;
      .info {
        width: 300px;
        height: 60px;
        margin-left: 10px;
        margin-top: 10px;
      }
      .about-company,
      .for-buyers,
      .pay-and-delivery {
        width: 90px;
        margin: 7px;
      }
    }
  }
  .description {
    display: none;
  }
  .container {
    width: 320px;
  }
  .p-text {
    font-size: 10px;
  }
  .p-description {
    font-size: 10px;
  }
  .p-big-roboto {
    font-size: 12px;
  }
  .h1-for-footer-roboto {
    font-size: 10px;
  }
  .p-for-footer-roboto {
    font-size: 8px;
  }
  .p-see-all {
    font-size: 12px;
  }
  .h1-playfair {
    font-size: 40px;
  }
  .h2-playfair {
    font-size: 26px;
  }
  .h3-playfair {
    font-size: 26px;
  }
  .h4-playfair {
    font-size: 12px;
  }
  .brand-watch {
    font-size: 10px;
  }
  .p-playfair {
    font-size: 8px;
  }
  .h5-price {
    font-size: 12px;
  }
  .p-price {
    font-size: 8px;
  }
  .base-button {
    width: 205px;
    height: 64px;
    padding: 26px 38px 27px 38px;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    border: 0;
    text-transform: uppercase;
  }
}
