@media screen and (max-width: 768px) {
  header {
    .container {
      display: flex;
      margin-top: 24px;
      .logo {
        margin-left: 10px;
      }
      .header-menu {
        width: 350px;
        margin-left: 10px;
        * {
          margin-right: 10px;
        }
      }
      .header-icons {
        width: 90px;
        margin-top: 0;
        img {
          height: 14px;
        }
      }
    }
  }
  .banner {
    height: 660px;
    .container {
      .banner-info {
        top: 170px;
        left: 10px;
      }
      .banner-offer {
        .banner-img {
          top: 70px;
          left: 20px;
          width: 400px;
          height: 605px;
        }
        &::before {
          width: 476px;
          height: 694px;
          top: 15px;
          left: -90px;
        }
        .price {
          top: -490px;
          left: -50px;
          width: 140px;

          &::after {
            width: 40px;
            right: 22px;
            top: 34px;
          }
          .rub {
            left: 6px;
          }
        }
        .size {
          top: -145px;
          left: -17px;
          width: 122px;
          &::before {
            width: 40px;
            height: 1px;
            background-color: #8b8371;
            left: -65px;
            top: 9px;
          }
        }
      }
    }
  }
  .popular-models {
    margin-bottom: 0;
    width: 768px;
    .container {
      .models-title {
        .see-all {
          top: 40px;
          right: 30px;
          &::after {
            top: 40px;
            bottom: 0;
            left: 10px;
          }
        }
      }
      .models {
        width: 768px;
        .watch-model {
          width: 250px;
          height: 400px;
          padding: 20px 10px 10px 20px;
          .div-img {
            width: 250px;
            height: 250px;
            left: -10px;
            top: 10px;
            img {
              width: 250px;
              position: relative;
              left: -30px;
            }
            &:before {
              top: 2px;
              right: 30px;
            }
          }
        }
      }
    }
  }
  .news {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 0;
    .container {
      padding: 0 0 0 15px;
      .text {
        margin-top: 0px;
        width: 300px;
        position: relative;
        top: -20px;
        .p-big-roboto {
          width: 300px;
        }
        .icons {
          position: relative;
          top: -90px;
        }
      }
      .images {
        width: 300px;
        display: flex;
        flex-direction: column;
        img {
          width: 280px;
        }
      }
    }
  }
  footer {
    .container {
      width: 768px;
      height: 170px;
      padding: 0;
      justify-content: flex-start;
      .info {
        width: 200px;
        height: 60px;
        margin-left: 10px;
        margin-top: 10px;
      }
      .about-company,
      .for-buyers,
      .pay-and-delivery {
        width: 170px;
        margin: 7px;
      }
    }
  }
  .description {
    display: none;
  }
  .container {
    width: 768px;
  }
  .p-text {
    font-size: 13px;
  }
  .p-description {
    font-size: 12px;
  }
  .p-big-roboto {
    font-size: 14px;
  }
  .h1-for-footer-roboto {
    font-size: 14px;
  }
  .p-for-footer-roboto {
    font-size: 12px;
  }
  .p-see-all {
    font-size: 14px;
  }
  .h1-playfair {
    font-size: 46px;
  }
  .h2-playfair {
    font-size: 30px;
  }
  .h3-playfair {
    font-size: 30px;
  }
  .h4-playfair {
    font-size: 14px;
  }
  .brand-watch {
    font-size: 14px;
  }
  .p-playfair {
    font-size: 12px;
  }
  .h5-price {
    font-size: 14px;
  }
  .p-price {
    font-size: 10px;
  }
  .base-button {
    width: 205px;
    height: 64px;
    padding: 26px 38px 27px 38px;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    border: 0;
    text-transform: uppercase;
  }
}
